* {
    /* border: solid 1px red; */
}

:root {
    font-size: 16px;
    font-family: 'Miranda Sans';

    /* Color variables */
    --main-color: hsl(231, 69%, 15%);
    --secondary-color: hsl(223, 27%, 90%);
    --tertiary-color: hsl(46, 82%, 38%);
    --quaternary-color: hsl(233, 19%, 18%);
    --pentarnery-color: hsl(226, 35%, 85%);

    /* Margin variables */
    --heading-margin: 7px 0;
}

@font-face {
    font-family: 'Miranda Sans';
    src: url('../resources/fonts/Miranda_Sans/MirandaSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Gelasio';
    src: url('../resources/fonts/Gelasio/Gelasio-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Flex';
    src: url('../resources/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
}

body {
    margin: 0;
}

h1 {
    color: var(--secondary-color);
    font-size: 60px;
    margin: var(--heading-margin);
}

h2 {
    color: var(--tertiary-color);
    text-transform: uppercase;
    font-size: 28px;
    margin: var(--heading-margin);
}

p {
    line-height: 22px;
}

.container {
    /* 590 + 30 + 2 + 30 + 460 */
    max-width: 1112px;
    padding: 30px 40px;
    margin-inline: auto;
}

/* Hero banner */

.hero-banner {
    background-color: var(--main-color);
}

.banner-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-seperator {
    width: 2px;
    height: 250px;
    border-radius: 5px;
    background-color: var(--quaternary-color);
}

.description {
    color: var(--secondary-color);
    margin: var(--heading-margin);
    max-width: 400px;
}

.hero-image {
    width: 460px;
    min-width: 460px; 
    display: flex;
    align-items: center;
}

.hero-image img{
    width: 100%;
}

/* Hero banner animation */
@keyframes headingIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes seperatorIn {
    0% {
        transform: scaleY(0%);
        opacity: 0;
    }

    100% {
        transform: scaleY(100%);
        opacity: 1;
    }
}

@keyframes imageIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero-banner h1 {
    opacity: 0;
    animation: headingIn 1s forwards ease-out;
}

.hero-banner h2 {
    opacity: 0;
    animation: headingIn 1s .25s forwards ease-out;
}

.hero-banner p {
    opacity: 0;
    animation: headingIn 1s .5s forwards ease-out;
}

.hero-seperator {
    animation: seperatorIn .8s ease-in
}

.hero-image {
    animation: imageIn 3s forwards ease-out;
}

@media only screen and (max-width: 850px) {
    .hero-image, .hero-seperator {
        display: none;
    }
}

/* About section */
.about {
    color: var(--main-color);
    background-color: var(--secondary-color);
}
.about-content {
    display: flex;
    justify-content: start;
    gap: 20px;
}
.about-image {
    width: 750px;
    min-width: 200px;
}

.about-image img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .about-content {
        flex-direction: column;
    }

    .about-image {
        width: 100%;
    }
}

/* Portfolio section */
.portfolio {
    background-color: var(--pentarnery-color);
}

.portfolio-content {
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}

.portfolio-item {
    width: 300px;
    height: 250px;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

/* Footer section */
footer {
    background-color: var(--main-color);
}

.footer-content {
    height: 75px;
}