* {
    /* border: solid 1px red; */
}

:root {
    font-size: 16px;

    /* color variables */
    --main-color: hsl(231, 69%, 15%);
    --secondary-color: hsl(222, 43%, 78%);
    --tertiary-color: hsl(46, 82%, 38%);
    --quaternary-color: hsl(233, 19%, 18%);

    /* margin variables */
    --heading-margin: 7px 0;
}

@font-face {
    font-family: 'Miranda Sans';
    src: url('../resources/fonts/Miranda_Sans/MirandaSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Gelasio';
    src: url('../resources/fonts/Gelasio/Gelasio-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../resources/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Flex';
    src: url('../resources/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
}

body {
    margin: 0;
}

h1 {
    color: var(--secondary-color);
    font-size: 60px;
    margin: var(--heading-margin);
}

h2 {
    color: var(--tertiary-color);
    text-transform: uppercase;
    font-size: 28px;
    margin: var(--heading-margin);
}

/* hero banner */

.hero-banner {
    background-color: var(--main-color);
    padding: 20px 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    font-family: 'Miranda Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-seperator {
    width: 2px;
    height: 250px;
    border-radius: 5px;
    background-color: var(--quaternary-color);
}

.description {
    color: var(--secondary-color);
    margin: var(--heading-margin);
    max-width: 400px;
    line-height: 22px;
}

.hero-image {
    width: 460px;
    display: flex;
    align-items: center;
}

.hero-image img{
    width: 100%;
}