* {
    /* border: solid 1px red; */
}

:root {
    font-size: 16px;

    /* color vaiables */
    --main-color: hsl(232, 60%, 45%);
}

body {
    margin: 0;
}

h1 {
    font-size: 60px;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    margin: 5px 0;
}

/* hero banner */

.hero-banner {
    height: 500px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-image {
    width: 400px;
}

.hero-image img{
    width: 100%;
}